
.card {
	text-align:center;
	background-color: #D9C3DB;
	border-radius: 5px;
	margin: 1rem 1rem 1rem 1rem;
	padding-bottom: 1rem;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#333;
}

li {
	float: left;		
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px; 
	text-decoration: none;
	
}

li a:hover {
	background-color: #111;
}
.card:hover {
	background-color: #BE8DEB;
	animation: pokemon-up .3s;
	cursor: pointer;
}

.Fuego {
	background-color: #FF0000
	
}

.Agua {
	background-color: #0073FF
}

.Planta {
	background-color: #00FF42
}

.Bicho {
	background-color: #97FF00
}

.Volador {
	background-color: #BAD7D5
}

.Roca {
	background-color: #514122
}

.Tierra {
	background-color: #B47D13
}

.Veneno {
	background-color: #85178A
}

.Lucha {
	background-color: #C32906
}

.Psíquico {
	background-color: #C3068F
}

.Eléctrico {
	background-color: #FFFF00
}

.Normal {
	background-color: #E6E6C1

}

.Hielo {
	background-color: #9FF4DF
}

.Fantasma {
	background-color: #382345
}

.Dragón {
	background-color: #260753
}

.tipo {
	width: 80px;
	text algin:center;
	margin: 10px;
	padding: 10px
}

@keyframes pokemon-up {

	0%,
	100% {
	transform: translateY(0);
}
	50% {
	transform: translateY(-.4rem);
}
}
.des {
	background-color: #ffdafb
	margin: 5px;
	border-radius: .20px;
}
