.Fuego {
	background-color: #FF0000
	
}

.Agua {
	background-color: #0073FF
}

.Planta {
	background-color: #00FF42
}

.Bicho {
	background-color: #97FF00
}

.Volador {
	background-color: #BAD7D5
}

.Roca {
	background-color: #514122
}

.Tierra {
	background-color: #B47D13
}

.Veneno {
	background-color: #85178A
}

.Lucha {
	background-color: #C32906
}

.Psíquico {
	background-color: #C3068F
}

.Eléctrico {
	background-color: #FFFF00
}

.Normal {
	background-color: #E6E6C1

}

.Hielo {
	background-color: #9FF4DF
}

.Fantasma {
	background-color: #382345
}

.Dragón {
	background-color: #260753
}
